version: "3.8"

services:
  frappe:
    build:
      context: .
      dockerfile: Dockerfile
    image: vedium-frappe:v16
    container_name: vedium-frappe
    command: sleep infinity
    environment:
      - SHELL=/bin/bash
    volumes:
      - .:/workspace:cached
      - frappe-bench-data:/home/frappe/frappe-bench
    ports:
      - "8005:8001" # Frappe Web (porta alta para evitar conflitos)
      - "9005:9000" # Frappe SocketIO
    depends_on:
      - mariadb
      - redis-cache
      - redis-queue
      - redis-socketio
    networks:
      - vedium-network

  mariadb:
    image: mariadb:10.6
    container_name: vedium-mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vedium
      MYSQL_USER: frappe
      MYSQL_PASSWORD: frappe
    volumes:
      - mariadb-data:/var/lib/mysql
    ports:
      - "3307:3306" # MariaDB (porta alta para evitar conflitos)
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed
    networks:
      - vedium-network

  redis-cache:
    image: redis:7-alpine
    container_name: vedium-redis-cache
    volumes:
      - redis-cache-data:/data
    networks:
      - vedium-network

  redis-queue:
    image: redis:7-alpine
    container_name: vedium-redis-queue
    volumes:
      - redis-queue-data:/data
    networks:
      - vedium-network

  redis-socketio:
    image: redis:7-alpine
    container_name: vedium-redis-socketio
    volumes:
      - redis-socketio-data:/data
    networks:
      - vedium-network

  prometheus:
    image: prom/prometheus
    container_name: vedium-prometheus
    volumes:
      - ./deploy/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - vedium-network

  grafana:
    image: grafana/grafana
    container_name: vedium-grafana
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000"
    networks:
      - vedium-network

volumes:
  frappe-bench-data:
  mariadb-data:
  redis-cache-data:
  redis-queue-data:
  redis-socketio-data:
  prometheus-data:
  grafana-data:


networks:
  vedium-network:
    driver: bridge
