version: "3.8"

services:
  vedium-frappe:
    image: frappe/bench:v5.22.6
    container_name: vedium-frappe
    restart: always
    working_dir: /home/frappe/frappe-bench
    command: [ "/home/frappe/frappe-bench/env/bin/gunicorn", "-b", "0.0.0.0:8000", "-w", "4", "-t", "120", "frappe.app:application", "--preload" ]
    ports:
      - "8005:8000"
      - "9005:9000"
    volumes:
      - frappe-bench-data:/home/frappe/frappe-bench
    networks:
      - vedium-network
    depends_on:
      - vedium-mariadb
      - vedium-redis-cache
      - vedium-redis-queue
      - vedium-redis-socketio

  vedium-mariadb:
    image: mariadb:10.6
    container_name: vedium-mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: vedium
      MYSQL_PASSWORD: frappe
      MYSQL_DATABASE: vedium
    ports:
      - "3307:3306"
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - vedium-network

  vedium-redis-cache:
    image: redis:7-alpine
    container_name: vedium-redis-cache
    restart: always
    volumes:
      - redis-cache-data:/data
    networks:
      - vedium-network

  vedium-redis-queue:
    image: redis:7-alpine
    container_name: vedium-redis-queue
    restart: always
    volumes:
      - redis-queue-data:/data
    networks:
      - vedium-network

  vedium-redis-socketio:
    image: redis:7-alpine
    container_name: vedium-redis-socketio
    restart: always
    volumes:
      - redis-socketio-data:/data
    networks:
      - vedium-network

volumes:
  frappe-bench-data:
  mariadb-data:
  redis-cache-data:
  redis-queue-data:
  redis-socketio-data:


networks:
  vedium-network:
    driver: bridge
